<mat-card>
  <mat-card-header>
    <ngx-avatar mat-card-avatar></ngx-avatar>
    <mat-card-title>{{ "Airport Selector" | translate }}</mat-card-title>
    <mat-card-subtitle>{{ "AirportSelector.Subtitle" | translate }}</mat-card-subtitle>
    <div fxFlex fxLayoutAlign="end center">
      <div *ngIf="!pageLoading">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon fontSet="material-symbols-outlined">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon fontSet="material-symbols-outlined">get_app</mat-icon>
            <span class="mat-body-1">{{ "Can't find the airport?" | translate }}</span>
          </button>
        </mat-menu>
      </div>
      <div *ngIf="pageLoading">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content [hidden]="pageLoading">
    <div class="content-wrapper">
      <div *ngIf="me | async; let me" class="nav-list-wrapper">
        <mat-nav-list dense>
          <mat-list-item *ngFor="let airport of me.authorizedVipAirports" (click)="onSelect(airport)">
            <mat-icon matListIcon class="item-icon">local_airport</mat-icon>
            <h2 matLine>
              <span>{{airport.name}}</span>
              <span> ({{airport.code}})</span>
            </h2>
            <p matLine class="mat-caption mat-hint">
              <span>{{(airport.isDomestic ? 'Domestic Airport' : 'International Airport') | translate}}</span>
            </p>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!pageLoading">
    <button mat-button [mat-dialog-close]="false">
      {{'Cancel' | translate}}
    </button>
  </mat-card-actions>
</mat-card>