<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="5px"
  class="mat-dialog-preloader"
  *ngIf="pageLoading"
>
  <mat-spinner diameter="20"></mat-spinner>
  <span>{{'Loading...' | translate}}</span>
</div>
<form [formGroup]="airportForm" *ngIf="!pageLoading" autocomplete="off">
  <h2 mat-dialog-title>
    <span *ngIf="!airportId">{{'New Airport' | translate}}</span>
    <span *ngIf="airportId">{{airport.name}}</span>
    <p class="mat-body-2">{{'EditDialog.Subtitle' | translate}}</p>
  </h2>
  <mat-dialog-content class="mat-typography">
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Name' | translate"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Code' | translate"
          formControlName="code"
        />
      </mat-form-field>
      <mat-checkbox formControlName="hasVip" fxFlex="100">
        <span class="mat-hint">{{"Has VIP Station" | translate }}</span>
      </mat-checkbox>
      <mat-checkbox formControlName="isDomestic" fxFlex="100">
        <span class="mat-hint">{{"Domestic Airport" | translate }}</span>
      </mat-checkbox>
      <mat-checkbox formControlName="locked" fxFlex="100">
        <span class="mat-hint">{{"Lock Airport" | translate }}</span>
      </mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">
      {{'Cancel' | translate}}
    </button>
    <button mat-button (click)="save()" cdkFocusInitial>
      {{'Apply' | translate}}
    </button>
  </mat-dialog-actions>
</form>
