<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="mat-dialog-preloader" *ngIf="pageLoading">
  <mat-spinner diameter="20"></mat-spinner>
  <span>{{'Loading...' | translate}}</span>
</div>
<form [formGroup]="passengerForm" *ngIf="!pageLoading">
  <h2 mat-dialog-title *ngIf="passengerId">
    <span>{{passengerForm.value.name + ' ' + passengerForm.value.surname}}</span>
    <p class="mat-body-2">{{'EditPassengerDialog.Subtitle' | translate}}</p>
  </h2>
  <h2 mat-dialog-title *ngIf="!passengerId">
    {{'New Passenger' | translate}}
    <span *ngIf="airport">({{airport.code}})</span>

    <p class="mat-body-2">{{'EditPassengerDialog.Subtitle' | translate}}</p>
  </h2>
  <mat-dialog-content class="mat-typography">
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
        <mat-form-field fxFlex="100">
          <input matInput [placeholder]="'PNR Number' | translate" formControlName="pnrNumber" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
        <mat-form-field fxFlex="20">
          <mat-select [placeholder]="'Title' | translate" formControlName="title">
            <mat-option value="MR">{{'MR' | translate}}</mat-option>
            <mat-option value="MS">{{'MS' | translate}}</mat-option>
            <mat-option value="MRS">{{'MRS' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="40">
          <input matInput [placeholder]="'Name' | translate" formControlName="name" />
        </mat-form-field>
        <mat-form-field fxFlex="40">
          <input matInput [placeholder]="'Surname' | translate" formControlName="surname" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
        <mat-form-field fxFlex="20">
          <input matInput [placeholder]="'Airline' | translate" formControlName="airlineCode" />
        </mat-form-field>
        <mat-form-field fxFlex="40">
          <input matInput [placeholder]="'Flight Number' | translate" formControlName="flightNumber" type="number" />
        </mat-form-field>
        <mat-form-field fxFlex="40">
          <input matInput [ngxMatDatetimePicker]="pickerAccessDate" placeholder="{{'Flight Date' | translate}}"
            name="pickerAccessDate" formControlName="flightDate" />
          <mat-datepicker-toggle matSuffix [for]="pickerAccessDate">
          </mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerAccessDate [showSeconds]="false">
            <ng-template>
              <span>OK</span>
            </ng-template>
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="'Flight From' | translate" formControlName="flightFrom" />
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="'Flight To' | translate" formControlName="flightTo" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
        <mat-form-field>
          <input matInput [placeholder]="'Job Title' | translate" formControlName="jobTitle" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
        <app-item-select query="passengerTypes" idField="id" nameField="name" groupField="groupName"
          [placeholder]="'Type' | translate" formControlName="typeId"></app-item-select>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
        <app-item-select-autocomplete query="users" idField="name" nameField="name" [placeholder]="'Staff' | translate"
          formControlName="assignedStaff" pagingEnabled="true" enableFreeText="true" appUpperCase>
        </app-item-select-autocomplete>
      </div>

      <div fxLayout="column" fxLayoutGap="10px grid">
        <mat-form-field>
          <mat-select [placeholder]="'VIP Usage' | translate" formControlName="status">
            <mat-option value="WAITING">{{'Waiting' | translate}}</mat-option>
            <mat-option value="VIP_USED">{{'VIP Services Used' | translate}}</mat-option>
            <mat-option value="VIP_NOT_USED">{{'VIP Services Skipped' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
        <mat-form-field>
          <textarea matInput [placeholder]="'Comments' | translate" formControlName="comments" appUpperCase></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">
      {{'Cancel' | translate}}
    </button>
    <button mat-button>
      {{'Clear' | translate}}
    </button>
    <button mat-button (click)="save()" cdkFocusInitial>
      {{'Apply' | translate}}
    </button>
  </mat-dialog-actions>
</form>