<mat-card>
  <mat-card-header>
    <ngx-avatar mat-card-avatar></ngx-avatar>
    <mat-card-title>{{ "ManagePassengers.Title" | translate }}</mat-card-title>
    <mat-card-subtitle>{{ "ManagePassengers.Subtitle" | translate }}</mat-card-subtitle>
    <div fxFlex fxLayoutAlign="end center">
      <div class="sync-loading-box" *ngIf="syncLoading">
        <mat-spinner diameter="20"></mat-spinner>
        <span>Synchronizing...</span>
      </div>
      <div *ngIf="!pageLoading">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon fontSet="material-symbols-outlined">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="sync()">
            <mat-icon fontSet="material-symbols-outlined">sync</mat-icon>
            <span class="mat-body-1">{{ "Sync Passengers" | translate }}</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content [hidden]="pageLoading">
    <div>
      <div fxLayout="row wrap">
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
          <button mat-button (click)="refresh()" [disabled]="loading">
            <mat-icon fontSet="material-symbols-outlined">refresh</mat-icon>
            {{ "Refresh" | translate }}
          </button>
          <button mat-button (click)="edit()">
            <mat-icon fontSet="material-symbols-outlined">playlist_add</mat-icon>
            {{ "New Passenger" | translate }}
          </button>
          <button mat-button (click)="advancedSearch()">
            <mat-icon fontSet="material-symbols-outlined">filter_list</mat-icon>
            {{ "Advanced Search" | translate }}
          </button>
          <button mat-button [matMenuTriggerFor]="exportMenu">
            <mat-icon fontSet="material-symbols-outlined">file_download</mat-icon>
            {{ "Export To File" | translate }}
          </button>
          <mat-menu #exportMenu="matMenu">
            <button mat-menu-item (click)="download('xls')">
              <mat-icon fontSet="material-symbols-outlined">attachment</mat-icon>
              {{ "Export to Excel file (*.xls)" | translate }}
            </button>
            <button mat-menu-item (click)="download('pdf')">
              <mat-icon fontSet="material-symbols-outlined">attachment</mat-icon>
              {{ "Export to Pdf file (*.pdf)" | translate }}
            </button>
          </mat-menu>
        </div>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
          <mat-form-field required>
            <input matInput [formControl]="keyword" [value]="keyword.value" (keyup.enter)="filter()"
              placeholder="{{ 'Keywords' | translate }}" class="suffixOffset" type="search" />
            <button mat-icon-button matSuffix [hidden]="!keyword.value || loading" (click)="clearSearchBox()">
              <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
            </button>
            <mat-spinner [hidden]="!loading" diameter="15" matSuffix></mat-spinner>
            <mat-label>
              <mat-icon fontSet="material-symbols-outlined">search</mat-icon>
              {{ "Filter Records" | translate }}
            </mat-label>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div>
      <div class="table-container auto-scroll">
        <table class="mat-table">
          <thead>
            <tr class="mat-header-row">
              <th class="mat-header-cell">#</th>
              <th class="mat-header-cell">
                {{'Type' | translate}}
              </th>
              <th class="mat-header-cell">
                {{'Group Name' | translate}}
              </th>
              <th class="mat-header-cell">
                {{'Flight Date' | translate}}
              </th>
              <th class="mat-header-cell">
                {{'Flight Code' | translate}}
              </th>
              <th class="mat-header-cell">
                {{'Route' | translate}}
              </th>
              <th class="mat-header-cell">
                {{'Pnr' | translate}}
              </th>
              <th class="mat-header-cell">
                {{'Title' | translate}}
              </th>
              <th class="mat-header-cell">
                {{'Name' | translate}}
              </th>
              <th class="mat-header-cell">
                {{'Job Title' | translate}}
              </th>
              <th class="mat-header-cell">
                {{'Assigned Staff' | translate}}
              </th>
              <th class="mat-header-cell">
                {{'Comments' | translate}}
              </th>
              <th class="mat-header-cell"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="mat-row" *ngFor="let passenger of passengers | async; let index = index"
              [ngClass]="{'mat-row-alternate': passenger.flightCode != passengers[index-1].flightCode}" (dblclick)="edit(passenger.id)">
              <td class="mat-cell">
                <span *ngIf="passenger.status == 'WAITING'">
                  <span class="material-symbols-outlined mat-accent md-20"
                    *ngIf="passenger.assignedStaff">run_circle</span>
                  <span class="material-symbols-outlined mat-hint md-20"
                    *ngIf="!passenger.assignedStaff">schedule</span>
                </span>

                <span class="material-symbols-outlined mat-success md-20"
                  *ngIf="passenger.status == 'VIP_USED'">check_circle</span>
                <span class="material-symbols-outlined mat-warn md-20"
                  *ngIf="passenger.status == 'VIP_NOT_USED'">error</span>
              </td>
              <td class="mat-cell">{{passenger.type?.groupName}}</td>
              <td class="mat-cell">{{passenger.type?.name}}</td>
              <td class="mat-cell">
                {{passenger.flightDate | date: 'yyyy/MM/dd HH:mm'}}
              </td>
              <td class="mat-cell">{{passenger.flightCode}}</td>
              <td class="mat-cell">{{passenger.flightRoute}}</td>
              <td class="mat-cell">{{passenger.pnrNumber}}</td>
              <td class="mat-cell">{{passenger.title}}</td>
              <td class="mat-cell">{{passenger.fullName}}</td>
              <td class="mat-cell">{{passenger.jobTitle}}</td>
              <td class="mat-cell">{{passenger.assignedStaff}}</td>
              <td class="mat-cell">
                {{ passenger.comments | slice: 0:50 }}
                <span *ngIf="passenger.comments?.length > 50">...</span>
              </td>
              <td class="mat-cell">
                <button mat-icon-button [matMenuTriggerFor]="entryMenu">
                  <mat-icon fontSet="material-symbols-outlined" class="mat-hint">more_horiz</mat-icon>
                </button>
                <mat-menu #entryMenu="matMenu">
                  <button mat-menu-item (click)="edit(passenger.id)">
                    <mat-icon fontSet="material-symbols-outlined">edit_note</mat-icon>
                    <span class="mat-body-1">{{ "Edit Passenger" | translate }}</span>
                  </button>
                  <button mat-menu-item (click)="delete(passenger.id)">
                    <mat-icon fontSet="material-symbols-outlined">delete_forever</mat-icon>
                    <span class="mat-body-1">{{ "Delete Passenger" | translate }}</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
        <mat-paginator pageSize="100" disabled="true"></mat-paginator>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!pageLoading"></mat-card-actions>
</mat-card>