mat-card-header {
  .mat-card-avatar {
    background-image: url("/assets/images/boarding-pass-2.png");
    background-size: cover;
  }
}

.mat-cell:first-child {
  width: 45px !important;
}

.sync-loading-box {
  div,
  span,
  .mat-progress-spinner {
    display: inline-block !important;
    vertical-align: middle !important; 
    margin-right: 5px;
  }
}

