mat-card-header {
  .mat-card-avatar {
    background-image: url("/assets/images/translation.png");
    background-size: cover;
  }
}

mat-card-content {
  .mat-cell:first-child {
    width: 45px !important;
  }

  .mat-column-key {
    width: 275px !important;
  }
}
