<form [formGroup]="languageForm">
  <h2 mat-dialog-title></h2>
  <mat-dialog-content class="mat-typography">
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Name' | translate"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Code' | translate"
          formControlName="code"
        />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button (click)="cancel()">
      {{'Cancel' | translate}}
    </button>
    <button mat-button (click)="save()" cdkFocusInitial>
      {{'Save' | translate}}
    </button>
  </mat-dialog-actions>
</form>
