<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="5px"
  class="mat-dialog-preloader"
  *ngIf="pageLoading"
>
  <mat-spinner diameter="20"></mat-spinner>
  <span>{{'Loading...' | translate}}</span>
</div>
<form [formGroup]="passengerTypeForm" *ngIf="!pageLoading" autocomplete="off">
  <h2 mat-dialog-title>
    <span *ngIf="!passengerTypeId">{{'New Passenger Type' | translate}}</span>
    <span *ngIf="passengerTypeId">{{passengerType.name}}</span>
    <p class="mat-body-2">{{'EditDialog.Subtitle' | translate}}</p>
  </h2>
  <mat-dialog-content class="mat-typography">
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Name' | translate"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Group Name' | translate"
          formControlName="groupName"
        />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">
      {{'Cancel' | translate}}
    </button>
    <button mat-button (click)="save()" cdkFocusInitial>
      {{'Apply' | translate}}
    </button>
  </mat-dialog-actions>
</form>
