<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="5px"
  *ngIf="pageLoading"
>
  <mat-spinner diameter="20"></mat-spinner>
  <span>{{'loading' | translate}}</span>
</div>
<form [formGroup]="translationForm" *ngIf="!pageLoading">
  <h2 mat-dialog-title>
    <span *ngIf="!translationId">{{'New Translation' | translate}}</span>
    <span *ngIf="translationId">{{translation.key}}</span>
    <p class="mat-body-2">{{'EditDialog.Subtitle' | translate}}</p>
  </h2>
  <mat-dialog-content class="mat-typography">
    <div fxLayout="column" fxLayoutGap="10px">
      <app-item-select
        fxFlex="50"
        query="languages"
        idField="code"
        nameField="name"
        [placeholder]="'Language' | translate"
        formControlName="languageCode"
      ></app-item-select>
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Key' | translate"
          formControlName="key"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Value' | translate"
          formControlName="value"
        />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">
      {{'Cancel' | translate}}
    </button>
    <button mat-button (click)="delete()" *ngIf="translationId">
      {{'Delete' | translate}}
    </button>
    <button mat-button (click)="save()" cdkFocusInitial>
      {{'Apply' | translate}}
    </button>
  </mat-dialog-actions>
</form>
