<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="5px"
  class="mat-dialog-preloader"
  *ngIf="pageLoading"
>
  <mat-spinner diameter="20"></mat-spinner>
  <span>{{'Loading...' | translate}}</span>
</div>
<form [formGroup]="applicationForm" *ngIf="!pageLoading">
  <h2 mat-dialog-title *ngIf="applicationId">
    <span>{{application.name}}</span>
    <p class="mat-body-2">{{'EditApplicationDialog.Subtitle' | translate}}</p>
  </h2>
  <h2 mat-dialog-title *ngIf="!applicationId">
    {{'New Application' | translate}}
    <p class="mat-body-2">{{'EditApplicationDialog.Subtitle' | translate}}</p>
  </h2>
  <mat-dialog-content class="mat-typography">
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Name' | translate"
          formControlName="name"
        />
      </mat-form-field>
      <app-item-select
        fxFlex="50"
        query="applicationTypes"
        idField="id"
        nameField="name"
        [placeholder]="'Type' | translate"
        formControlName="typeId"
      ></app-item-select>
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Group Name' | translate"
          formControlName="groupName"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="number"
          [placeholder]="'Row Index' | translate"
          formControlName="rowIndex"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Icon Url' | translate"
          formControlName="iconUrl"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [placeholder]="'Page Url' | translate"
          formControlName="pageUrl"
        />
      </mat-form-field>
      <app-item-select-multiple
        fxFlex="50"
        query="roles"
        idField="id"
        nameField="name"
        [placeholder]="'Roles' | translate"
        formControlName="roles"
      ></app-item-select-multiple>
      <mat-checkbox formControlName="guestAccess" fxFlex="100">
        <span class="mat-hint">{{ "Guest Access" | translate }}</span>
      </mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">
      {{'Cancel' | translate}}
    </button>
    <button mat-button (click)="save()" cdkFocusInitial>
      {{'Apply' | translate}}
    </button>
  </mat-dialog-actions>
</form>
