<mat-form-field fxFlex>
  <!-- MAT SELECT WITHOUT GROUPING SUPPORT -->
  <mat-select
    [placeholder]="placeholder"
    [formControl]="selectCtrl"
    *ngIf="groupField == null"
    multiple
  >
    <mat-option *ngFor="let item of items | async" [value]="item.id">
      {{ item.name }}
    </mat-option>
  </mat-select>

  <!-- MAT SELECT WITH GROUPING SUPPORT -->
  <mat-select
    [placeholder]="placeholder"
    [formControl]="selectCtrl"
    *ngIf="groupField"
    multiple
  >
    <mat-optgroup
      *ngFor="let group of (items | async)  | groupBy: groupField | pairs"
      [label]="group[0]"
    >
      <mat-option *ngFor="let item of group[1]" [value]="item.id">
        {{item.name}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
