content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 50px;

  * {
    width: 100%;
    max-width: 1100px;
    margin-top: 20px;
  }
}
